footer.footer
    .container
        .row
            .col-xs-7
                .coyright &copy; 2016 MonsterLeads
            .col-xs-3
                .skype-call
                    a(href="skype:monsterleads.pro?call")
                        i.fa.fa-skype
                        | monsterleads.pro
            .col-xs-2
                a(href="javascript:void(0)")
                    img(src="./../images/foo_img_1.jpg", alt="Blog Img")
            .col-xs-2
                a(href="javascript:void(0)")
                    img(src="./../images/foo_img_2.png", alt="Blog Img")
