doctype html
html
    include includes/head.jade
    body
            include includes/header.jade
            .main-block
                .header-bg
                    .bg-pattern
                    .container.header-content
                        .row
                            h1 Блог
            .content-block
                .container
                    .row
                        .col-xs-12.content-left
                            .banner-block
                                img(src="./../images/banner_img.jpg", alt="Blog Img")
                                .date-block
                                    .dd 18
                                    .mm-yy
                                        span 03
                                        |.
                                        span 16
                            .content-inner
                                .article-heading
                                    .tags-block
                                        ul.tags
                                            li
                                                a(href="#") СРА партнерки
                                            li
                                                a(href="#") Маркетинг
                                    h2 Основы трекинга. Приватность, аналитика, удобство
                                    .article-info
                                        .views-quantity
                                            i.fa.fa-eye
                                            | &thinsp;&thinsp;
                                            span 2107
                                        .comments-quantity
                                            i.fa.fa-commenting
                                            | &thinsp;&thinsp;
                                            span 13
                                .article-inner
                                    p.italic Первый пост про основы трекинга зашел на ура, было порядка 7000 прочтений и много вопросов. Потому я продолжаю эту серию, показывая базовое применение трекера в популярных ситуациях. Сегодня я хочу задеть темы приватности трафика вебмастера, эффективности аналитики и удобства ведения нескольких рекламных кампаний одновременно через трекер. Соответственно, разделим пост на несколько частей. Показывать буду на основе AdsBridge, а вы уже адаптируйте под свои предпочтения.
                                    h4 Приватность вашего трафика
                                    p Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он.
                                    p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч. Шеф взъярён тчк щипцы с эхом гудбай Жюль. Эй, жлоб! Где туз? Прячь юных съёмщиц в шкаф. Экс-граф? Плюш изъят.
                                    img(src="./../images/graff.jpg", alt="Article Img")
                                    p Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он.
                                    p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч. Шеф взъярён тчк щипцы с эхом гудбай Жюль. Эй, жлоб! Где туз? Прячь юных съёмщиц в шкаф. Экс-граф? Плюш изъят.
                            .comments-block
                                h4 Комментарии
                                p Вы сможете добавлять комментарии только после регистрации.
                                .btn-wraper
                                    a(href="javascript:void(0)").btn.btn-default Зарегистрироваться
                                .comments
                                    ul.comments-list
                                        li.comment-item
                                            .comment-body
                                                .info.clearfix
                                                    span.user-info  Вася Пупкин
                                                    time.time-published
                                                        | 13.01.16
                                                    span.reply
                                                        a.comment-answer(href='#')
                                                            i.fa.fa-share
                                                            | &thinsp;&thinsp;Ответить

                                                .message
                                                    | Первый пост про основы трекинга зашел на ура, было порядка 7000 прочтений и много вопросов. Потому я продолжаю эту серию, показывая базовое применение трекера в популярных ситуациях.
                                            ul.reply-comments
                                                li.comment-item
                                                    .comment-body
                                                        .info.clearfix
                                                            span.user-info  Вася Пупкин
                                                            time.time-published
                                                                | 13.01.16
                                                            span.reply
                                                                a.comment-answer(href='#')
                                                                    i.fa.fa-share
                                                                    | &thinsp;&thinsp;Ответить
                                                        .message
                                                            | Первый пост про основы трекинга зашел на ура, было порядка 7000 прочтений и много вопросов. Потому я продолжаю эту серию, показывая базовое применение трекера в популярных ситуациях.
                                        li.comment-item
                                            .comment-body
                                                .info.clearfix
                                                    span.user-info  Вася Пупкин
                                                    time.time-published
                                                        | 13.01.16
                                                    span.reply
                                                        a.comment-answer(href='#')
                                                            i.fa.fa-share
                                                            | &thinsp;&thinsp;Ответить

                                                .message
                                                    | Первый пост про основы трекинга зашел на ура, было порядка 7000 прочтений и много вопросов. Потому я продолжаю эту серию, показывая базовое применение трекера в популярных ситуациях.

                            .pagination-block
                                ul.pagination
                                    -
                                        list=["1", "2", "3"]
                                    each item in list
                                        li
                                            a(href="#")=item
                                    li.active
                                        a(href="#") 4
                        .col-xs-4


            include includes/footer.jade


